<%- include("header", { pageTitle: "Home page" }) %>

<div class="container">
    <section class="main-content">
        <% for (let i=0; i<posts.length; i++){ %>
            <article class="post-card">
                <div class="post-header">
                    <div class="author-info">
                        <p class="author-name"><%= posts[i].author %></p>
                        <h2 class="post-title"><%= posts[i].title %></h2>
                    </div>
                </div>
                <p class="post-content"><%= posts[i].content %></p>
                <div class="date-info">
                    <p class="post-date"><%= posts[i].date %></p>
                </div>
            </article>
        <% } %>
    </section>

    <aside class="sidebar">
        <p>Profile Pic</p>
    </aside>
</div>

<%- include("footer") %>
